{
  "rules": {
    "local-rules/validate-root": "off",
    "filenames/match-exported": "off",
    "local-rules/no-relative-imports": "error",
    "filenames/match-regex": ["warn", "^[A-Za-z]+[A-Za-z\\d]*Container$", true]
  }
}
