.tableTooltip {
  vertical-align: middle;
  margin-left: 4px;
  cursor: pointer;
}
.linkStyle {
  color: #305bef !important;
  font-weight: bolder;
}
.linkStyle a {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}
.linkStyle a:active {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}

.linkStyle a:visited {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}

.title {
  padding: 20px 0px;
  margin: 0;
}

.buttonClear {
  padding: 0 !important;
  background: "#f3f3f3" !important;
}

.productColumn {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 255px;
}
.productColumn > * {
  vertical-align: middle;
}
.productColumn a {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}
.productColumn img {
  width: 40px;
  height: 40px;
}
.productColumn a:active {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}

.productColumn a:visited {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs a {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs a:active {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs a:visited {
  color: #305bef !important;
  font-weight: bold;
  text-decoration: none;
}

.calculateText {
  color: #305bef;
  cursor: pointer;
}
.toolkit {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.changeCurrencyCon button {
  margin-right: 10px;
}
.themedLabel {
  border-radius: 0 !important;
  align-items: flex-end !important;
}
.loading {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
