.tooltip {
  white-space: nowrap;
}
.titleCon {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.titleCon svg {
  margin-right: 4px;
}

.productColumn {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 255px;
}

.metricsModule img {
  width: 20px;
  vertical-align: middle;
  margin-top: 20px;
}

.loading {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
