html,
body {
  padding: 0;
  margin: 0;
  background-color: #eff4f6; /* PALETTE.GREY["200"] / SURFACE_LIGHT */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Proxima-Regular;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regular")
    format("opentype");
}
@font-face {
  font-family: Proxima-Regular;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regularit")
    format("opentype");
}
@font-face {
  font-family: Proxima-Medium;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-medium")
    format("opentype");
}
@font-face {
  font-family: Proxima-Medium;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-mediumit")
    format("opentype");
}
@font-face {
  font-family: Proxima-Semibold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semibold")
    format("opentype");
}
@font-face {
  font-family: Proxima-Semibold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semiboldit")
    format("opentype");
}
@font-face {
  font-family: Proxima-Bold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-bold")
    format("opentype");
}
@font-face {
  font-family: Proxima-Bold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-boldit")
    format("opentype");
}

/* TODO [lliepert]: update fonts (https://jira.wish.site/browse/MKL-38316) */
