html,
body {
  padding: 0;
  margin: 0;
  background-color: #f7f9fa; /* PALETTE.GREY["100"] */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Proxima-Regular;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regular")
    format("opentype");
}
@font-face {
  font-family: Proxima-Regular;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regularit")
    format("opentype");
}
@font-face {
  font-family: Proxima-Medium;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-medium")
    format("opentype");
}
@font-face {
  font-family: Proxima-Medium;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-mediumit")
    format("opentype");
}
@font-face {
  font-family: Proxima-Semibold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semibold")
    format("opentype");
}
@font-face {
  font-family: Proxima-Semibold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semiboldit")
    format("opentype");
}
@font-face {
  font-family: Proxima-Bold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-bold")
    format("opentype");
}
@font-face {
  font-family: Proxima-Bold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-boldit")
    format("opentype");
}
