html,
body {
  height: 100%;
  margin: 0px;
  min-width: auto !important;
  background-color: #f8fafb;
  font-family: Proxima-Regular;
}

a {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #0088cc;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #0088cc;
  text-decoration: none;
}

label {
  margin-bottom: 0px !important;
}

@font-face {
  font-family: Proxima-Regular;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regular")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Regular;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regularit")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Medium;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-medium")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Medium;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-mediumit")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Semibold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semibold")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Semibold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semiboldit")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Bold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-bold")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Bold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-boldit")
    format("opentype");
  unicode-range: U+0000-00FF, U+20AC;
}
@font-face {
  font-family: Proxima-Regular;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regular.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: Proxima-Regular;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-regular-italic.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: Proxima-Medium;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-medium.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: Proxima-Medium;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-medium-italic.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: Proxima-Semibold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semibold.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: Proxima-Semibold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-semibold-italic.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: Proxima-Bold;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-bold.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: Proxima-Bold;
  font-style: italic;
  src: url("//d2ujdsqe3ri19m.cloudfront.net/latest/assets/fonts/proximanova-bold-italic.extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
